
<h2 class="text-uppercase text-center text-white pt-3">Landing page</h2>
<h4 class="text-center text-white font-weight-normal">Business</h4>
<div class="container background">
    <div class="row">
        <div class="col-md-3 p-0">
            <div class="tilted">
                <h6 class="font-weight-bold text-uppercase text-white text-center "><i class="fa fa-user"></i> Working</h6>
            </div>
        </div>
        <div class="col-md-6">
            <nav class="navbar navbar-expand-md navbar-light py-4">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse py-3" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="#"
                            class="nav-item nav-link active text-white font-weight-bold px-3 py-0 text-capitalize">Home</a>
                        <a href="#"
                            class="nav-item nav-link text-white font-weight-bold px-3 py-0 text-capitalize">About</a>
                        <a href="#" class="nav-item nav-link text-white font-weight-bold px-3 py-0 text-capitalize">Work
                            with us</a>
                        <a href="#" class="nav-item nav-link text-white font-weight-bold px-3 py-0 text-capitalize"
                            tabindex="-1">Contact</a>
                    </div>
              
                </div>
            </nav>
        </div>
        <div class="col-md-3">
            <div class="sign">
                <ul class="list ">
                    <li>
                        <h6 class="text-uppercase">Sign in</h6>
                    </li>
                    <li>
                        <button class="btn btn1 text-white font-weight-bold text-uppercase">Signup</button>
                    </li>
                </ul>


            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-9">
            <h4 class="font-weight-bold text-white m-0 text-center dot1">......</h4>
            <h4 class="pl-2 font-weight-bold text-white text-center dot2">......</h4>
        </div>
        <div class="col-md-3"></div>
    </div>
<div class="row">
    <div class="col-md-6">
        <div class="pl-5">
            <h1 class="display-3 text-uppercase font-weight-bold text-white">Work <br> Online</h1>
            <h4 class="stay font-weight-bold">Stay at Home</h4>
            <div class="float-left w-50">
                <p class="text-white text-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
            </div>
            <div class="float-right square">
                <div class="squar1"></div>
                <div class="squar1"></div>
                <div class="squar1"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="parallalogram">
            <img src="./../assets/images/business.jpeg">
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-5 ">
        <div class="contact">
            <ul class="list">
                <li class="px-0">
                    <button class="btn btn1 text-white font-weight-bold text-uppercase">Read More</button>
                </li>
            </ul>
            <ul class="social"> 
                <li>
                    <i class="fa fa-twitter"></i>

                </li>
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-instagram"></i>

                </li>
            </ul>


        </div>
    </div>
    <div class="col-md-5">
        <div class="gray">
            <!-- <img src="./../assets/images/5544982.jpg"> -->
        </div>
    </div>
    <div class="col-md-2">
        <div class="tilted1">
        </div>
    </div>
</div>
    <router-outlet></router-outlet>